*{
    margin: 0;
    padding: 0;
}
.cell{
    width: 100%;
    height: 480px;
    margin: 0 15px;
    overflow: hidden;
    border-radius: 8px;
}
.cell iframe{
    width: 100%;
    height: 480px;
    object-fit: cover;
}